In [2]:
import psycopg2
from tqdm import tqdm
import pandas as pd
from psycopg2.extras import execute_values

In [3]:
connection_str = f'host=localhost port=5432 dbname=nyc_taxi_fare user=postgres password=unsdatasets'
connection = psycopg2.connect(connection_str)
cursor = connection.cursor()

In [13]:
create_table = '''
create table train (
    id serial primary key unique not null,
    fare_amount real not null,
    pickup_datetime timestamp,
    passenger_count int,
    pickup_longitude decimal,
    pickup_latitude decimal,
    dropoff_longitude decimal,
    dropoff_latitude decimal
)
'''

cursor.execute(create_table)
connection.commit()

In [31]:
insert = '''
insert into train
    (fare_amount, pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, passenger_count)
values
    %s
'''

In [34]:
cursor.execute('select * from train')
cursor.fetchone()

(2,
 4.5,
 datetime.datetime(2009, 6, 15, 17, 26, 21),
 1,
 Decimal('-73.84431457519531'),
 Decimal('40.721317291259766'),
 Decimal('-73.84161376953125'),
 Decimal('40.712276458740234'))

In [35]:
cursor.execute('delete from train')
connection.commit()

In [3]:
# some optimizations from https://www.kaggle.com/szelee/how-to-import-a-csv-file-of-55-million-rows
# other approach would be to use dask http://docs.dask.org/en/latest/dataframe.html

def read_train_in_chunks(chunk_size=1000000):
    FILE_PATH = './homework1_data/train.csv'
    
    column_types = {
        'fare_amount': 'float32',
        'pickup_datetime': 'str',
        'pickup_longitude': 'float32',
        'pickup_latitude': 'float32',
        'dropoff_longitude': 'float32',
        'dropoff_latitude': 'float32',
        'passenger_count': 'uint8'
    }

    return pd.read_csv(
        FILE_PATH,
        usecols=list(column_types.keys()),
        dtype=column_types,
        chunksize=chunk_size
    )

In [36]:
for df in tqdm(read_train_in_chunks()):
    execute_values(cursor, insert, df.values)
    connection.commit()

0it [00:00, ?it/s]
1it [00:29, 29.45s/it]
2it [00:58, 29.29s/it]
3it [01:26, 28.91s/it]
4it [01:54, 28.66s/it]
5it [02:23, 28.78s/it]
6it [02:54, 29.38s/it]
7it [03:24, 29.60s/it]
8it [03:51, 28.98s/it]
9it [04:18, 28.25s/it]
10it [04:45, 28.00s/it]
11it [05:12, 27.53s/it]
12it [05:39, 27.30s/it]
13it [06:05, 27.01s/it]
14it [06:33, 27.35s/it]
15it [07:01, 27.65s/it]
16it [07:29, 27.54s/it]
17it [07:55, 27.24s/it]
18it [08:24, 27.64s/it]
19it [08:51, 27.56s/it]
20it [09:18, 27.44s/it]
21it [09:46, 27.57s/it]
22it [10:16, 28.14s/it]
23it [10:44, 28.12s/it]
24it [11:11, 27.99s/it]
25it [11:38, 27.64s/it]
26it [12:05, 27.28s/it]
27it [12:31, 27.06s/it]
28it [12:58, 26.85s/it]
29it [13:25, 26.93s/it]
30it [13:51, 26.71s/it]
31it [14:19, 26.97s/it]
32it [14:48, 27.63s/it]
33it [15:15, 27.52s/it]
34it [15:43, 27.58s/it]
35it [16:11, 27.92s/it]
36it [16:39, 27.82s/it]
37it [17:06, 27.62s/it]
38it [17:32, 27.20s/it]
39it [18:02, 27.94s/it]
40it [18:30, 27.85s/it]
41it [18:57, 27.62s/it]
42it [19:26, 28.26s/it]
43it [19:57, 28.89s/it]
44it [20:28, 29.69s/it]
45it [20:56, 29.06s/it]
46it [21:22, 28.24s/it]
47it [21:48, 27.52s/it]
48it [22:14, 27.04s/it]
49it [22:40, 26.85s/it]
50it [23:08, 26.95s/it]
51it [23:35, 26.94s/it]
52it [24:01, 26.80s/it]
53it [24:27, 26.52s/it]
54it [24:53, 26.42s/it]
55it [25:19, 26.28s/it]
56it [25:30, 21.68s/it]

In [37]:
cursor.execute('select count(*) from train')
cursor.fetchone()

(55423856,)