In [6]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame(data=[
        ['M', 1.70, 15],
        ['F', 1.73, 18],
        ['M', 1.75, 16],
        ['M', 1.83, 19],
        ['F', 1.60, 14],
        ['F', 1.63, np.nan],
        ['M', np.nan, 17],
        [np.nan, 1.70, 14],
], columns=['gender', 'height', 'age'])
df

  gender  height   age
0      M    1.70  15.0
1      F    1.73  18.0
2      M    1.75  16.0
3      M    1.83  19.0
4      F    1.60  14.0
5      F    1.63   NaN
6      M     NaN  17.0
7    NaN    1.70  14.0

In [22]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline

In [29]:
is_categorical = df.dtypes == object

pipeline = make_pipeline(
    make_column_transformer(
        (SimpleImputer(strategy='constant', fill_value='U'), ['gender']),
        (SimpleImputer(strategy='median'), ['age']),
        (SimpleImputer(strategy='mean'), ['height']),
    ),
    make_column_transformer(
        (OneHotEncoder(categories='auto'), is_categorical),
        (StandardScaler(), ~is_categorical),
    )
)



data = pipeline.fit_transform(df)
data
# ndf = pd.DataFrame(data, columns=df.columns)
# ndf

array([[ 0.        ,  1.        ,  0.        , -0.66529914, -0.08642716],
       [ 1.        ,  0.        ,  0.        ,  1.10883191,  0.36731544],
       [ 0.        ,  1.        ,  0.        , -0.07392213,  0.66981051],
       [ 0.        ,  1.        ,  0.        ,  1.70020892,  1.8797908 ],
       [ 1.        ,  0.        ,  0.        , -1.25667616, -1.59890252],
       [ 1.        ,  0.        ,  0.        , -0.07392213, -1.14515991],
       [ 0.        ,  1.        ,  0.        ,  0.51745489,  0.        ],
       [ 0.        ,  0.        ,  1.        , -1.25667616, -0.08642716]])