Tutorial from https://towardsdatascience.com/automated-feature-engineering-in-python-99baf11cc219

There are two main approaches for feature engineering:
* Transformation: take a substring or compute the log a number (feature)
* Aggregation: compute some kind of statistic (min, max, avg, ...)

In [5]:
import pandas as pd
import featuretools as ft

In [2]:
clients = pd.read_csv('./data/clients.csv')
loans = pd.read_csv('./data/loans.csv')
payments = pd.read_csv('./data/payments.csv')

In [7]:
clients.head()

   client_id      joined  income  credit_score
0      46109  2002-04-16  172677           527
1      49545  2007-11-14  104564           770
2      41480  2013-03-11  122607           585
3      46180  2001-11-06   43851           562
4      25707  2006-10-06  211422           621

In [8]:
loans.head()

,client_id,loan_type,loan_amount,repaid,loan_id,loan_start,loan_end,rate
0,46109,home,13672,0,10243,2002-04-16,2003-12-20,2.15
1,46109,credit,9794,0,10984,2003-10-21,2005-07-17,1.25
2,46109,home,12734,1,10990,2006-02-01,2007-07-05,0.68
3,46109,cash,12518,1,10596,2010-12-08,2013-05-05,1.24
4,46109,credit,14049,1,11415,2010-07-07,2012-05-21,3.13

In [9]:
payments.head()

   loan_id  payment_amount payment_date  missed
0    10243            2369   2002-05-31       1
1    10243            2439   2002-06-18       1
2    10243            2662   2002-06-29       0
3    10243            2268   2002-07-20       0
4    10243            2027   2002-07-31       1

In [4]:
# example of an aggregation using pandas

stats = loans.groupby('client_id')['loan_amount'].agg(['mean', 'max', 'min'])
stats.columns = ['mean_loan_amount', 'max_loan_amount', 'min_loan_amount']

stats = clients.merge(stats, left_on='client_id', right_index=True, how='left')

stats.head(10)

,client_id,joined,income,credit_score,mean_loan_amount,max_loan_amount,min_loan_amount
0,46109,2002-04-16,172677,527,8951.600000,14049,559
1,49545,2007-11-14,104564,770,10289.300000,14971,3851
2,41480,2013-03-11,122607,585,7894.850000,14399,811
3,46180,2001-11-06,43851,562,7700.850000,14081,1607
4,25707,2006-10-06,211422,621,7963.950000,13913,1212
5,39505,2011-10-14,153873,610,7424.050000,14575,904
6,32726,2006-05-01,235705,730,6633.263158,14802,851
7,35089,2010-03-01,131176,771,6939.200000,13194,773
8,35214,2003-08-08,95849,696,7173.555556,14767,667
9,48177,2008-06-09,190632,769,7424.368421,14740,659

An Entity is just a table/DataFrame
An EntitySet is a collection of Entities and their relationships

In [10]:
# empty entity set
es = ft.EntitySet(id='clients')

# add the client entity to the entity set
es = es.entity_from_dataframe(entity_id='clients', dataframe=clients,
                              index='client_id', time_index='joined')

es = es.entity_from_dataframe(entity_id='loans', dataframe=loans,
                              index='loan_id', time_index='loan_start')

es = es.entity_from_dataframe(entity_id='payments', dataframe=payments,
                              variable_types={'missed': ft.variable_types.Categorical},
                              make_index=True,
                              index='payments_id',
                              time_index='payment_date')

In [11]:
es['payments']

Entity: payments
  Variables:
    payments_id (dtype: index)
    loan_id (dtype: numeric)
    payment_amount (dtype: numeric)
    payment_date (dtype: datetime_time_index)
    missed (dtype: categorical)
  Shape:
    (Rows: 3456, Columns: 5)

In [13]:
r_client_previous = ft.Relationship(es['clients']['client_id'],
                                    es['loans']['client_id'])

es = es.add_relationship(r_client_previous)

r_payments = ft.Relationship(es['loans']['loan_id'],
                             es['payments']['loan_id'])

es = es.add_relationship(r_payments)

es

Entityset: clients
  Entities:
    clients [Rows: 25, Columns: 4]
    loans [Rows: 443, Columns: 8]
    payments [Rows: 3456, Columns: 5]
  Relationships:
    loans.client_id -> clients.client_id
    payments.loan_id -> loans.loan_id

In [15]:
(features, feature_names) = ft.dfs(entityset=es, target_entity='clients',
                                   agg_primitives=['mean', 'max', 'percent_true', 'last'],
                                   trans_primitives=['years', 'month', 'subtract', 'divide'])

features

,income,credit_score,MEAN(loans.loan_amount),MEAN(loans.repaid),MEAN(loans.rate),MAX(loans.loan_amount),MAX(loans.repaid),MAX(loans.rate),LAST(loans.loan_type),LAST(loans.loan_amount),...,MAX(loans.rate) / income - credit_score,MEAN(loans.loan_amount) / LAST(loans.rate),income / MEAN(loans.loan_amount),MAX(loans.rate) / MEAN(loans.loan_amount),MEAN(loans.loan_amount) / MAX(payments.payment_amount),MAX(loans.loan_amount) / MAX(payments.payment_amount),LAST(loans.repaid) / MAX(loans.rate),income / income - credit_score,MAX(loans.repaid) / LAST(payments.payment_amount),income / MEAN(payments.payment_amount)
client_id,,,,,,,,,,,,,,,,,,,,,
25707,211422,621,7963.950000,0.400000,3.477000,13913,1,9.44,home,2203,...,0.000045,1076.209459,26.547379,0.001185,2.945248,5.145340,0.000000,1.002946,0.004149,179.391200
26326,227920,633,7270.062500,0.500000,2.517500,13464,1,6.73,credit,5275,...,0.000030,5013.836207,31.350487,0.000926,2.735163,5.065463,0.000000,1.002785,0.001073,195.348250
26695,174532,680,7824.722222,0.388889,2.466111,14865,1,6.51,other,13918,...,0.000037,8694.135802,22.305201,0.000832,2.668732,5.069918,0.153610,1.003911,0.000480,144.547880
26945,214516,806,7125.933333,0.400000,2.855333,14593,1,5.65,cash,9249,...,0.000026,2491.585082,30.103565,0.000793,2.574398,5.272038,0.176991,1.003771,0.000626,193.349418
29841,38354,523,9813.000000,0.555556,3.445000,14837,1,6.76,home,7223,...,0.000179,1927.897839,3.908489,0.000689,3.386128,5.119738,0.147929,1.013825,0.001250,26.645208
32726,235705,730,6633.263158,0.578947,3.058947,14802,1,9.10,other,5325,...,0.000039,2343.909243,35.533793,0.001372,2.461322,5.492393,0.109890,1.003107,0.000987,249.608701
32885,58955,642,9920.400000,0.533333,2.436000,14162,1,9.11,other,11886,...,0.000156,1088.957190,5.942805,0.000918,4.095954,5.847234,0.000000,1.011010,0.000524,42.216386
32961,230341,714,7882.235294,0.529412,3.930588,14784,1,9.14,cash,1693,...,0.000040,5398.791297,29.222802,0.001160,2.824162,5.297026,0.109409,1.003109,0.004484,221.683498
35089,131176,771,6939.200000,0.600000,3.513500,13194,1,7.63,other,773,...,0.000059,909.462647,18.903620,0.001100,2.707452,5.147874,0.131062,1.005912,0.009434,119.822963
35214,95849,696,7173.555556,0.444444,3.108333,14767,1,8.44,home,9389,...,0.000089,5123.968254,13.361436,0.001177,2.496018,5.138135,0.000000,1.007315,0.000619,88.997282
38537,127183,643,8986.352941,0.588235,2.389412,14804,1,8.01,cash,8797,...,0.000063,14041.176471,14.152905,0.000891,3.110541,5.124264,0.124844,1.005081,0.000619,94.864339
39384,191204,617,7865.473684,0.631579,3.538421,14654,1,9.23,other,14654,...,0.000048,3480.298090,24.309280,0.001173,2.787198,5.192771,0.000000,1.003237,0.000489,160.186974
39505,153873,610,7424.050000,0.450000,3.190500,14575,1,9.91,cash,9600,...,0.000065,29696.200000,20.726288,0.001335,2.685980,5.273155,0.000000,1.003980,0.000933,132.417807
41472,152214,638,7510.812500,0.500000,3.981250,13657,1,9.82,cash,10122,...,0.000065,7292.050971,20.265983,0.001307,3.083256,5.606322,0.000000,1.004209,0.000688,134.812869
41480,122607,585,7894.850000,0.500000,3.110500,14399,1,10.49,home,11154,...,0.000086,1218.341049,15.529997,0.001329,2.903586,5.295697,0.095329,1.004794,0.000473,98.360227
42320,229481,563,7062.066667,0.600000,2.457333,13887,1,6.74,home,8090,...,0.000029,2220.775681,32.494879,0.000954,2.550403,5.015168,0.000000,1.002459,0.000924,224.654669
44387,151903,781,7387.733333,0.600000,2.806667,14900,1,5.97,credit,7279,...,0.000040,1801.886179,20.561516,0.000808,2.534385,5.111492,0.167504,1.005168,0.001359,143.881288
44601,156341,518,6869.250000,0.750000,4.151000,14104,1,9.22,other,6129,...,0.000059,2488.858696,22.759544,0.001342,2.583396,5.304250,0.108460,1.003324,0.000989,143.727104
46109,172677,527,8951.600000,0.550000,3.152500,14049,1,9.48,other,10853,...,0.000055,3174.326241,19.290071,0.001059,3.272980,5.136746,0.000000,1.003061,0.000547,125.532121
46180,43851,562,7700.850000,0.500000,3.502500,14081,1,9.26,other,3834,...,0.000214,5580.326087,5.694306,0.001202,2.895056,5.293609,0.000000,1.012983,0.001435,36.956713
46958,225709,644,9378.384615,0.230769,3.153846,14942,1,6.17,credit,8308,...,0.000027,29307.451923,24.066938,0.000658,3.140785,5.004019,0.000000,1.002861,0.000689,167.637265
48177,190632,769,7424.368421,0.421053,3.938947,14740,1,10.89,credit,659,...,0.000057,4884.452909,25.676528,0.001467,2.725539,5.411160,0.091827,1.004050,0.008696,158.897713
49068,128813,603,7617.888889,0.722222,3.095556,13910,1,6.78,other,10082,...,0.000053,12091.887125,16.909278,0.000890,2.782282,5.080351,0.147493,1.004703,0.000699,106.960115
49545,104564,770,10289.300000,0.700000,2.684000,14971,1,6.52,home,7061,...,0.000063,2432.458629,10.162402,0.000634,3.581378,5.210929,0.153374,1.007419,0.001119,70.594662
49624,49036,800,9174.533333,0.600000,4.037333,14679,1,12.62,cash,8621,...,0.000262,2885.073375,5.344795,0.001376,3.201163,5.121773,0.000000,1.016585,0.000730,34.554319