## Cohort analysis

Source http://www.gregreda.com/2015/08/23/cohort-analysis-with-python/

Cohort is a group of users who share something in common: signup/subscription date, birth date, acquition channel.

Cohort analysis is the method used to track these groups over time in order to spot trends, understand behaviours.

When building a cohort analysis, it's important to consider the relationship between the event or interaction you're tracking and its relationship to your business model.

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

In [11]:
pd.set_option('max_columns', 50)
mpl.rcParams['lines.linewidth'] = 2

In [12]:
df = pd.read_excel('cohort.xlsx', sheetname='Purchase Data - Full Study')
df.head()

   OrderId  OrderDate  UserId  TotalCharges CommonId  PupId PickupDate
0      262 2009-01-11      47         50.67    TRQKD      2 2009-01-12
1      278 2009-01-20      47         26.60    4HH2S      3 2009-01-20
2      294 2009-02-03      47         38.71    3TRDC      2 2009-02-04
3      301 2009-02-06      47         53.38    NGAZJ      2 2009-02-09
4      302 2009-02-06      47         14.28    FFYHD      2 2009-02-09

In [13]:
df['OrderPeriod'] = df.OrderDate.apply(lambda x: x.strftime('%Y-%m'))
df.head()

,OrderId,OrderDate,UserId,TotalCharges,CommonId,PupId,PickupDate,OrderPeriod
0,262,2009-01-11,47,50.67,TRQKD,2,2009-01-12,2009-01
1,278,2009-01-20,47,26.60,4HH2S,3,2009-01-20,2009-01
2,294,2009-02-03,47,38.71,3TRDC,2,2009-02-04,2009-02
3,301,2009-02-06,47,53.38,NGAZJ,2,2009-02-09,2009-02
4,302,2009-02-06,47,14.28,FFYHD,2,2009-02-09,2009-02

In [15]:
df.set_index('UserId', inplace=True)

df['CohortGroup'] = df.groupby(level=0)['OrderDate'].min().apply(lambda x: x.strftime('%Y-%m'))
df.reset_index(inplace=True)
df.head()

IndentationError: unexpected indent (<ipython-input-15-a92ed3cb5b97>, line 4)